# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
**/[Dd]ebug/
**/[Rr]elease/
**/x64/
**/[Bb]in/
**/obj/

**/node_modules
NodeApi/build/src/index.d.ts
NodeApi/build/src/index.js
NodeApi/build/src/index.js.map

mongo-volume/*
data/*