# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/*
[Rr]elease/*
x64/*
[Bb]in/*
[Oo]bj/*

DotNetApi/[Dd]ebug/
DotNetApi/[Rr]elease/
DotNetApi/x64/
DotNetApi/[Bb]in/
DotNetApi/[Oo]bj/

DotNetCore/[Dd]ebug/
DotNetCore/[Rr]elease/
DotNetCore/x64/
DotNetCore/[Bb]in/
DotNetCore/[Oo]bj/

NodeApi/node_modules
NodeApi/build/src/index.d.ts
NodeApi/build/src/index.js
NodeApi/build/src/index.js.map
